* {
    color: white;
    margin: 0px;
}

body {
    background-image: url("../multimedia/img1.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

input {
    margin-bottom: 50px;
    background: transparent;
    display: block;
    border: none;
    border-bottom: solid 3px white;
}

label {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 50px;
}

.formR {
    display: block;
    left: auto;
    right: auto;
    width: 30%;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 85px;
    left: 35%;
    border-radius: 5px;
}

form a,
form button {
    color: black;
}

nav {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav img {
    margin-left: 30px;
}